@import './fonts.css';

* {
  font-family: 'Roboto Condensed', 'Montserrat', sans-serif;
}

.page-enter-from{
  opacity: 0;
  transform: translateY(4rem);
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s, transform .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateY(-4rem);
}
